@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Bellefair';
  src: url('./assets/fonts/Bellefair-Regular.ttf');
}

@font-face {
  font-family: 'Barlow-Regular';
  src: url('./assets/fonts/Barlow-Regular.ttf');
}

@font-face {
  font-family: 'Barlow-Condensed';
  src: url('./assets/fonts/BarlowCondensed-Regular.ttf');
}

body{
  background-color: black;
}

.bg-fixed {
 
  background-attachment: fixed; /* Fijar el fondo */
}